<div class="navbar-item">
    <NavLink href="" Match="NavLinkMatch.All">
        <div class="nav-item-content">
            <span class="bi bi-house-door-fill-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Home</span>
        </div>
    </NavLink>
</div>

<div class="navbar-item">
    <NavLink href="StripColor">
        <div class="nav-item-content">
            <span class="bi bi-plus-square-fill-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Strip Color</span>
        </div>
    </NavLink>
</div>

<div class="navbar-item">
    <NavLink href="TimeFrame">
        <div class="nav-item-content">
            <span class="bi bi-plus-square-fill-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Time Frame</span>
        </div>
    </NavLink>
</div>

<div class="navbar-item">
    <NavLink href="IndividualLeds">
        <div class="nav-item-content">
            <span class="bi bi-list-nested-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Individual LEDs</span>
        </div>
    </NavLink>
</div>

<div class="navbar-item">
    <NavLink href="OnOffSwitch">
        <div class="nav-item-content">
            <span class="bi bi-list-nested-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">On / Off</span>
        </div>
    </NavLink>
</div>

<div class="navbar-item">
    <NavLink href="Help">
        <div class="nav-item-content">
            <span class="bi bi-list-nested-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Help</span>
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public string? DarkModeCssClass { get; set; }
}
