<div class="navbar-item">
    <NavLink href="" Match="NavLinkMatch.All">
        <div class="nav-item-content">
            <span class="bi bi-house-door-fill-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Home</span>
        </div>
    </NavLink>
</div>

<div class="navbar-item">
    <NavLink href="test">
        <div class="nav-item-content">
            <span class="bi bi-plus-square-fill-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Test</span>
        </div>
    </NavLink>
</div>

<div class="navbar-item">
    <NavLink href="weather">
        <div class="nav-item-content">
            <span class="bi bi-list-nested-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Weather</span>
        </div>
    </NavLink>
</div>

<div class="navbar-item">
    <NavLink href="weather">
        <div class="nav-item-content">
            <span class="bi bi-list-nested-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Weather</span>
        </div>
    </NavLink>
</div>

<div class="navbar-item">
    <NavLink href="weather">
        <div class="nav-item-content">
            <span class="bi bi-list-nested-nav-menu @DarkModeCssClass" aria-hidden="true"></span>
            <span class="navbar-item-text">Weather</span>
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public string? DarkModeCssClass { get; set; }
}
